body {
  font-family: arial;
}

main {
  border: 3px solid red;

  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50px 40px auto 50px;
  grid-template-areas: 
    "header header"
    "menu menu"
    "content sidebar"
    "footer footer";

}

#page-header {
  grid-area: header;
  background-color: navy;
  padding: 10px;
}

#page-header > h1 {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
}

#main-menu {
  grid-area: menu;
  position: relative;
  background-color: darkseagreen;
}

#main-menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.menu-item {
  padding: 6px;
  border: 1px;
}

#content, #sidebar {
  padding: 10px;
}

#content {
  grid-area: content;
}

#sidebar {
  grid-area: sidebar;
  background-color: darksalmon;
}

#page-footer {
  grid-area: footer;
  background-color: darkturquoise;
}

.section-header {
  font-size: 1.4rem;
  text-decoration: underline;
}

.section-body {
  margin-top: 10px;
  border: 1px solid red;
}

